# Data Manipulation with pandas# Data Manipulation with pandas

In [1]:
#Import basic packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
#load initial data
homelessness = pd.read_csv('DS/Data Manipulation with pandas/homelessness.csv', index_col=0)b

## Transforming Data

### Introducing DataFrames

#### Inspecting a DataFrame

In [11]:
# Print the head of the homelessness data
homelessness.head()

               region       state  individuals  family_members  state_pop
0  East South Central     Alabama       2570.0           864.0    4887681
1             Pacific      Alaska       1434.0           582.0     735139
2            Mountain     Arizona       7259.0          2606.0    7158024
3  West South Central    Arkansas       2280.0           432.0    3009733
4             Pacific  California     109008.0         20964.0   39461588

In [12]:
# Print information about homelessness
homelessness.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   region          51 non-null     object
 1   state           51 non-null     object
 2   individuals     51 non-null     float64
 3   family_members  51 non-null     float64
 4   state_pop       51 non-null     int64
dtypes: float64(2), int64(1), object(2)
memory usage: 2.4+ KB

In [13]:
# Print the shape of homelessness
homelessness.shape

(51, 5)

In [15]:
# Print a description of homelessness
homelessness.describe()

         individuals  family_members     state_pop
count      51.000000       51.000000  5.100000e+01
mean     7225.784314     3504.882353  6.405637e+06
std     15991.025083     7805.411811  7.327258e+06
min       434.000000       75.000000  5.776010e+05
25%      1446.500000      592.000000  1.777414e+06
50%      3082.000000     1482.000000  4.461153e+06
75%      6781.500000     3196.000000  7.340946e+06
max    109008.000000    52070.000000  3.946159e+07

#### Parts of a DataFrame

In [19]:
# Import pandas using the alias pd
import pandas as pd

# Print the values of homelessness
print(homelessness.values)

print('\n')
# Print the column index of homelessness
print(homelessness.columns)

print('\n')

# Print the row index of homelessness
print(homelessness.index)

print('\n')

[['East South Central' 'Alabama' 2570.0 864.0 4887681]
 ['Pacific' 'Alaska' 1434.0 582.0 735139]
 ['Mountain' 'Arizona' 7259.0 2606.0 7158024]
 ['West South Central' 'Arkansas' 2280.0 432.0 3009733]
 ['Pacific' 'California' 109008.0 20964.0 39461588]
 ['Mountain' 'Colorado' 7607.0 3250.0 5691287]
 ['New England' 'Connecticut' 2280.0 1696.0 3571520]
 ['South Atlantic' 'Delaware' 708.0 374.0 965479]
 ['South Atlantic' 'District of Columbia' 3770.0 3134.0 701547]
 ['South Atlantic' 'Florida' 21443.0 9587.0 21244317]
 ['South Atlantic' 'Georgia' 6943.0 2556.0 10511131]
 ['Pacific' 'Hawaii' 4131.0 2399.0 1420593]
 ['Mountain' 'Idaho' 1297.0 715.0 1750536]
 ['East North Central' 'Illinois' 6752.0 3891.0 12723071]
 ['East North Central' 'Indiana' 3776.0 1482.0 6695497]
 ['West North Central' 'Iowa' 1711.0 1038.0 3148618]
 ['West North Central' 'Kansas' 1443.0 773.0 2911359]
 ['East South Central' 'Kentucky' 2735.0 953.0 4461153]
 ['West South Central' 'Louisiana' 2540.0 519.0 4659690]
 ['New England' 'Maine' 1450.0 1066.0 1339057]
 ['South Atlantic' 'Maryland' 4914.0 2230.0 6035802]
 ['New England' 'Massachusetts' 6811.0 13257.0 6882635]
 ['East North Central' 'Michigan' 5209.0 3142.0 9984072]
 ['West North Central' 'Minnesota' 3993.0 3250.0 5606249]
 ['East South Central' 'Mississippi' 1024.0 328.0 2981020]
 ['West North Central' 'Missouri' 3776.0 2107.0 6121623]
 ['Mountain' 'Montana' 983.0 422.0 1060665]
 ['West North Central' 'Nebraska' 1745.0 676.0 1925614]
 ['Mountain' 'Nevada' 7058.0 486.0 3027341]
 ['New England' 'New Hampshire' 835.0 615.0 1353465]
 ['Mid-Atlantic' 'New Jersey' 6048.0 3350.0 8886025]
 ['Mountain' 'New Mexico' 1949.0 602.0 2092741]
 ['Mid-Atlantic' 'New York' 39827.0 52070.0 19530351]
 ['South Atlantic' 'North Carolina' 6451.0 2817.0 10381615]
 ['West North Central' 'North Dakota' 467.0 75.0 758080]
 ['East North Central' 'Ohio' 6929.0 3320.0 11676341]
 ['West South Central' 'Oklahoma' 2823.0 1048.0 3940235]
 ['Pacific' 'Oregon' 11139.0 3337.0 4181886]
 ['Mid-Atlantic' 'Pennsylvania' 8163.0 5349.0 12800922]
 ['New England' 'Rhode Island' 747.0 354.0 1058287]
 ['South Atlantic' 'South Carolina' 3082.0 851.0 5084156]
 ['West North Central' 'South Dakota' 836.0 323.0 878698]
 ['East South Central' 'Tennessee' 6139.0 1744.0 6771631]
 ['West South Central' 'Texas' 19199.0 6111.0 28628666]
 ['Mountain' 'Utah' 1904.0 972.0 3153550]
 ['New England' 'Vermont' 780.0 511.0 624358]
 ['South Atlantic' 'Virginia' 3928.0 2047.0 8501286]
 ['Pacific' 'Washington' 16424.0 5880.0 7523869]
 ['South Atlantic' 'West Virginia' 1021.0 222.0 1804291]
 ['East North Central' 'Wisconsin' 2740.0 2167.0 5807406]
 ['Mountain' 'Wyoming' 434.0 205.0 577601]]


Index(['region', 'state', 'individuals', 'family_members', 'state_pop'], dtype='object')


Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49,
            50],
           dtype='int64')

### Sorting and subsetting

#### Sorting rows

In [20]:
# Sort homelessness by individual
homelessness_ind = homelessness.sort_values(by='individuals')

# Print the top few rows
print(homelessness_ind.head())

                region         state  individuals  family_members  state_pop
50            Mountain       Wyoming        434.0           205.0     577601
34  West North Central  North Dakota        467.0            75.0     758080
7       South Atlantic      Delaware        708.0           374.0     965479
39         New England  Rhode Island        747.0           354.0    1058287
45         New England       Vermont        780.0           511.0     624358

In [21]:
# Sort homelessness by descending family members
homelessness_fam = homelessness.sort_values(by='family_members', ascending=False)

# Print the top few rows
print(homelessness_fam.head())

                region          state  individuals  family_members  state_pop
32        Mid-Atlantic       New York      39827.0         52070.0   19530351
4              Pacific     California     109008.0         20964.0   39461588
21         New England  Massachusetts       6811.0         13257.0    6882635
9       South Atlantic        Florida      21443.0          9587.0   21244317
43  West South Central          Texas      19199.0          6111.0   28628666

In [22]:
# Sort homelessness by region, then descending family members
homelessness_reg_fam = homelessness.sort_values(by=['region', 'family_members'], ascending=[True, False])

# Print the top few rows
print(homelessness_reg_fam.head())

                region      state  individuals  family_members  state_pop
13  East North Central   Illinois       6752.0          3891.0   12723071
35  East North Central       Ohio       6929.0          3320.0   11676341
22  East North Central   Michigan       5209.0          3142.0    9984072
49  East North Central  Wisconsin       2740.0          2167.0    5807406
14  East North Central    Indiana       3776.0          1482.0    6695497

#### Subsetting columns

In [23]:
# Select the individuals column
individuals = homelessness['individuals']

# Print the head of the result
print(individuals.head())

0      2570.0
1      1434.0
2      7259.0
3      2280.0
4    109008.0
Name: individuals, dtype: float64

In [25]:
# Select the state and family_members columns
state_fam = homelessness[['state', 'family_members']]

# Print the head of the result
print(state_fam.head())

        state  family_members
0     Alabama           864.0
1      Alaska           582.0
2     Arizona          2606.0
3    Arkansas           432.0
4  California         20964.0

In [26]:
# Select only the individuals and state columns, in that order
ind_state = homelessness[['individuals', 'state']]

# Print the head of the result
print(ind_state.head())

   individuals       state
0       2570.0     Alabama
1       1434.0      Alaska
2       7259.0     Arizona
3       2280.0    Arkansas
4     109008.0  California

#### Subsetting rows

In [27]:
# Filter for rows where individuals is greater than 10000
ind_gt_10k = homelessness[homelessness['individuals']>10000]

# See the result
print(ind_gt_10k)

                region       state  individuals  family_members  state_pop
4              Pacific  California     109008.0         20964.0   39461588
9       South Atlantic     Florida      21443.0          9587.0   21244317
32        Mid-Atlantic    New York      39827.0         52070.0   19530351
37             Pacific      Oregon      11139.0          3337.0    4181886
43  West South Central       Texas      19199.0          6111.0   28628666
47             Pacific  Washington      16424.0          5880.0    7523869

In [28]:
# Filter for rows where region is Mountain
mountain_reg = homelessness[homelessness['region']=='Mountain']

# See the result
print(mountain_reg)

      region       state  individuals  family_members  state_pop
2   Mountain     Arizona       7259.0          2606.0    7158024
5   Mountain    Colorado       7607.0          3250.0    5691287
12  Mountain       Idaho       1297.0           715.0    1750536
26  Mountain     Montana        983.0           422.0    1060665
28  Mountain      Nevada       7058.0           486.0    3027341
31  Mountain  New Mexico       1949.0           602.0    2092741
44  Mountain        Utah       1904.0           972.0    3153550
50  Mountain     Wyoming        434.0           205.0     577601

In [30]:
# Filter for rows where family_members is less than 1000 
# and region is Pacific
fam_lt_1k_pac = homelessness[(homelessness['family_members']<1000) & (homelessness['region']=='Pacific')]

# See the result
print(fam_lt_1k_pac)

    region   state  individuals  family_members  state_pop
1  Pacific  Alaska       1434.0           582.0     735139

#### Subsetting rows by categorical variables

In [31]:
# Subset for rows in South Atlantic or Mid-Atlantic regions
south_mid_atlantic = homelessness[homelessness['region'].isin(['South Atlantic', 'Mid-Atlantic'])]

# See the result
print(south_mid_atlantic)

            region                 state  individuals  family_members  \
7   South Atlantic              Delaware        708.0           374.0
8   South Atlantic  District of Columbia       3770.0          3134.0
9   South Atlantic               Florida      21443.0          9587.0
10  South Atlantic               Georgia       6943.0          2556.0
20  South Atlantic              Maryland       4914.0          2230.0
30    Mid-Atlantic            New Jersey       6048.0          3350.0
32    Mid-Atlantic              New York      39827.0         52070.0
33  South Atlantic        North Carolina       6451.0          2817.0
38    Mid-Atlantic          Pennsylvania       8163.0          5349.0
40  South Atlantic        South Carolina       3082.0           851.0
46  South Atlantic              Virginia       3928.0          2047.0
48  South Atlantic         West Virginia       1021.0           222.0

    state_pop
7      965479
8      701547
9    21244317
10   10511131
20    6035802
30    8886025
32   19530351
33   10381615
38   12800922
40    5084156
46    8501286
48    1804291

In [32]:
# The Mojave Desert states
canu = ["California", "Arizona", "Nevada", "Utah"]

# Filter for rows in the Mojave Desert states
mojave_homelessness = homelessness[homelessness['state'].isin(canu)]

# See the result
print(mojave_homelessness)

      region       state  individuals  family_members  state_pop
2   Mountain     Arizona       7259.0          2606.0    7158024
4    Pacific  California     109008.0         20964.0   39461588
28  Mountain      Nevada       7058.0           486.0    3027341
44  Mountain        Utah       1904.0           972.0    3153550

### New Columns

#### Adding new columns

In [34]:
# Add total col as sum of individuals and family_members
homelessness['total'] = homelessness['individuals'] + homelessness['family_members']

# Add p_individuals col as proportion of individuals
homelessness['p_individuals'] = homelessness['individuals']/homelessness['total']

# See the result
print(homelessness)

                region                 state  individuals  family_members  \
0   East South Central               Alabama       2570.0           864.0
1              Pacific                Alaska       1434.0           582.0
2             Mountain               Arizona       7259.0          2606.0
3   West South Central              Arkansas       2280.0           432.0
4              Pacific            California     109008.0         20964.0
5             Mountain              Colorado       7607.0          3250.0
6          New England           Connecticut       2280.0          1696.0
7       South Atlantic              Delaware        708.0           374.0
8       South Atlantic  District of Columbia       3770.0          3134.0
9       South Atlantic               Florida      21443.0          9587.0
10      South Atlantic               Georgia       6943.0          2556.0
11             Pacific                Hawaii       4131.0          2399.0
12            Mountain                 Idaho       1297.0           715.0
13  East North Central              Illinois       6752.0          3891.0
14  East North Central               Indiana       3776.0          1482.0
15  West North Central                  Iowa       1711.0          1038.0
16  West North Central                Kansas       1443.0           773.0
17  East South Central              Kentucky       2735.0           953.0
18  West South Central             Louisiana       2540.0           519.0
19         New England                 Maine       1450.0          1066.0
20      South Atlantic              Maryland       4914.0          2230.0
21         New England         Massachusetts       6811.0         13257.0
22  East North Central              Michigan       5209.0          3142.0
23  West North Central             Minnesota       3993.0          3250.0
24  East South Central           Mississippi       1024.0           328.0
25  West North Central              Missouri       3776.0          2107.0
26            Mountain               Montana        983.0           422.0
27  West North Central              Nebraska       1745.0           676.0
28            Mountain                Nevada       7058.0           486.0
29         New England         New Hampshire        835.0           615.0
30        Mid-Atlantic            New Jersey       6048.0          3350.0
31            Mountain            New Mexico       1949.0           602.0
32        Mid-Atlantic              New York      39827.0         52070.0
33      South Atlantic        North Carolina       6451.0          2817.0
34  West North Central          North Dakota        467.0            75.0
35  East North Central                  Ohio       6929.0          3320.0
36  West South Central              Oklahoma       2823.0          1048.0
37             Pacific                Oregon      11139.0          3337.0
38        Mid-Atlantic          Pennsylvania       8163.0          5349.0
39         New England          Rhode Island        747.0           354.0
40      South Atlantic        South Carolina       3082.0           851.0
41  West North Central          South Dakota        836.0           323.0
42  East South Central             Tennessee       6139.0          1744.0
43  West South Central                 Texas      19199.0          6111.0
44            Mountain                  Utah       1904.0           972.0
45         New England               Vermont        780.0           511.0
46      South Atlantic              Virginia       3928.0          2047.0
47             Pacific            Washington      16424.0          5880.0
48      South Atlantic         West Virginia       1021.0           222.0
49  East North Central             Wisconsin       2740.0          2167.0
50            Mountain               Wyoming        434.0           205.0

    state_pop     total  p_individuals
0     4887681    3434.0       0.748398
1      735139    2016.0       0.711310
2     7158024    9865.0       0.735834
3     3009733    2712.0       0.840708
4    39461588  129972.0       0.838704
5     5691287   10857.0       0.700654
6     3571520    3976.0       0.573441
7      965479    1082.0       0.654344
8      701547    6904.0       0.546060
9    21244317   31030.0       0.691041
10   10511131    9499.0       0.730919
11    1420593    6530.0       0.632619
12    1750536    2012.0       0.644632
13   12723071   10643.0       0.634408
14    6695497    5258.0       0.718144
15    3148618    2749.0       0.622408
16    2911359    2216.0       0.651173
17    4461153    3688.0       0.741594
18    4659690    3059.0       0.830337
19    1339057    2516.0       0.576312
20    6035802    7144.0       0.687850
21    6882635   20068.0       0.339396
22    9984072    8351.0       0.623758
23    5606249    7243.0       0.551291
24    2981020    1352.0       0.757396
25    6121623    5883.0       0.641849
26    1060665    1405.0       0.699644
27    1925614    2421.0       0.720777
28    3027341    7544.0       0.935578
29    1353465    1450.0       0.575862
30    8886025    9398.0       0.643541
31    2092741    2551.0       0.764014
32   19530351   91897.0       0.433387
33   10381615    9268.0       0.696051
34     758080     542.0       0.861624
35   11676341   10249.0       0.676066
36    3940235    3871.0       0.729269
37    4181886   14476.0       0.769481
38   12800922   13512.0       0.604130
39    1058287    1101.0       0.678474
40    5084156    3933.0       0.783626
41     878698    1159.0       0.721311
42    6771631    7883.0       0.778764
43   28628666   25310.0       0.758554
44    3153550    2876.0       0.662031
45     624358    1291.0       0.604183
46    8501286    5975.0       0.657406
47    7523869   22304.0       0.736370
48    1804291    1243.0       0.821400
49    5807406    4907.0       0.558386
50     577601     639.0       0.679186

#### Combo-attack!

In [42]:
# Create indiv_per_10k col as homeless individuals per 10k state pop
homelessness["indiv_per_10k"] = 10000 * homelessness['individuals'] / homelessness['total'] 

# Subset rows for indiv_per_10k greater than 20
high_homelessness = homelessness[homelessness['indiv_per_10k']>20]

# Sort high_homelessness by descending indiv_per_10k
high_homelessness_srt = high_homelessness.sort_values(by='indiv_per_10k', ascending=False)

high_homelessness_srt.head()
# From high_homelessness_srt, select the state and indiv_per_10k cols
result = high_homelessness_srt[['state', 'indiv_per_10k']]

# See the result
print(result)

                   state  indiv_per_10k
28                Nevada    9355.779427
34          North Dakota    8616.236162
3               Arkansas    8407.079646
4             California    8387.037208
18             Louisiana    8303.367113
48         West Virginia    8213.998391
40        South Carolina    7836.257310
42             Tennessee    7787.644298
37                Oregon    7694.805195
31            New Mexico    7640.141121
43                 Texas    7585.539313
24           Mississippi    7573.964497
0                Alabama    7483.983692
17              Kentucky    7415.943601
47            Washington    7363.701578
2                Arizona    7358.337557
10               Georgia    7309.190441
36              Oklahoma    7292.689228
41          South Dakota    7213.114754
27              Nebraska    7207.765386
14               Indiana    7181.437809
1                 Alaska    7113.095238
5               Colorado    7006.539560
26               Montana    6996.441281
33        North Carolina    6960.509279
9                Florida    6910.409281
20              Maryland    6878.499440
50               Wyoming    6791.862285
39          Rhode Island    6784.741144
35                  Ohio    6760.659577
44                  Utah    6620.305981
46              Virginia    6574.058577
7               Delaware    6543.438078
16                Kansas    6511.732852
12                 Idaho    6446.322068
30            New Jersey    6435.411790
25              Missouri    6418.493966
13              Illinois    6344.075918
11                Hawaii    6326.186830
22              Michigan    6237.576338
15                  Iowa    6224.081484
45               Vermont    6041.828040
38          Pennsylvania    6041.296625
19                 Maine    5763.116057
29         New Hampshire    5758.620690
6            Connecticut    5734.406439
49             Wisconsin    5583.859792
23             Minnesota    5512.909016
8   District of Columbia    5460.602549
32              New York    4333.873793
21         Massachusetts    3393.960534